*.obj
*.dll
*.bmp
ASSIMPProject/Debug/*
ASSIMPProject/.vs/*
ASSIMPProject/ASSIMPProject/Debug/*
ASSIMPProject/ASSIMPProject/SOIL2/*
ASSIMPProject/ASSIMPProject/res/*
ASSIMPProject/ASSIMPProject/Assimp/*
ASSIMPProject/ASSIMPProject/Dependencies/*
AGPAssessment/AGPAssessment/Debug/*
AGPAssessment/.vs/*